.task-container {
    background-color: var(--color-bg-white-variant);
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: var(--color-bg-variant);
    align-items: center;

}

.taks-title {
    cursor: pointer;
    font-weight: 500;
}

.task-button {
    border: none;
    background: none;
    color: var(--color-bg);
    font-size: 1.25rem;
    cursor: pointer;
    margin: 0 0.5rem;
    transition: var(--transition);
}

.taks-remove-button:hover {
    color: red;
}

.see-task-detais-button:hover {
    color: var(--color-primary);
}