*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.task-details-container {
    background-color: var(--color-bg);
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    border-radius: 5px;
}

.task-details-container h2 {
    color: var(--color-primary);
    margin-bottom: 5px;

}

.back-button-container {
    width: 30%;
    margin-top: 10px;
}